#encabezado{
	width: 100%;
	height: 100px;
	background-color: rgba(128,81,81,0.61);
}
#logo{	
	width: 30%;
	height: 99px;
	background-image:url('../imagenes/fondo.jpg');
	float: left;
	border-radius: 5px;
}
#banner{
	float: right;
	width: 70%;
	height: 99px;
	vertical-align: middle;
	text-align: center;
}
#navegacion{
	width: 100%;
	height: 25px;	
	margin: auto;
	padding-left: 20px;
	padding-top: 5px;
	background-image: url("../imagenes/nv.jpg");	
	background-color: rgba(65,65,65,0.74);
}
#navegacion ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#navegacion ul li{
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
}
#navegacion ul li a{
	text-decoration:none;
	color: #CCCCCC;
	font-weight: bold;
}
#navegacion ul li a:hover{
	color: #FFFFFF;
}
#contenido{
	width: 100%;
	height: 400px;
}
#pie{
	width: 100%;
	height: 50px;
	text-align: center;
}
.iI{
	float: left;
	width: 50%;
}
.iD{
	float: right;
	width: 50%;
}
.pI{
	float: left;
	width: 50%;
}
.pD{
	float: right;
	width: 50%;
}
.imagen{
	background-image:url('../imagenes/2.jpg');
	width: 200px;
	height: 200px;
}
#registro{
	height:220px;
	width: 100%;
	border: 1px solid gray;
}
table{
	width: 100%;
	max-width:100%;background-color:transparent
}
td{
	border:1px solid #ddd!important;
}